<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
            />
        <script
            src="https://kit.fontawesome.com/0c9d985b68.js"
            crossorigin="anonymous"
            ></script>
        <link rel="icon" href="../static/images/fevicon.jpg" type="image/x-icon" />
        <title>Reset</title>
        <style>
            .custom-btn {
            color: white; /* Text color */
            border-color: white; /* Border color */
            }
            .custom-btn:hover {
            background-color: #ea6981; /* Background color on hover */
            }
        </style>
    </head>
    <body
        class="vh-100"
        style="background-image: url('../static/images/loginbg.jpg')"
        >
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <div class="card mx-auto" style="border-radius: 1rem">
                            <div class="card-body p-4 p-lg-5 text-black text-center">
                                <form action="" method="post">
                                    <h5 class="mb-3 pb-3" style="letter-spacing: 1px">
                                        Reset Password
                                    </h5>
                                    <div class="form-floating mb-4">
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="floatingEmail"
                                            placeholder="name@example.com"
                                            name="email"
                                            required
                                            />
                                        <label for="floatingEmail">Email address</label>
                                    </div>
                                    {% if message %}
                                    <div
                                        class="alert alert-danger alert-dismissible fade show d-flex align-items-center"
                                        role="alert"
                                        >
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        <div class="ms-2">{{ message }}</div>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"
                                            ></button>
                                    </div>
                                    {% endif %}
                                    <div class="mb-4">
                                        <button
                                            class="btn btn-dark custom-btn btn-lg btn-block col-12 mt-4"
                                            type="submit"
                                            >
                                        Send Mail
                                        </button>
                                    </div>
                                    <p class="mb-4 mt-1">
                                        Go Back to Log in? <a href="./login.html">Log in</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
        ></script>
</html>